<div class="container text-center">
    <h1 class="mb-4 text-center">Selecciona la opción que deceas realizar {{title}}</h1>
    <div class="row">
      <div class="row col-sm-2">
        <div class="col-sm-11">
          <input type="button" class="form-control btn btn-outline-primary" id="alta" name="alta" value="Alta" [routerLink]="['/periodoForm']" [state]="{flag:true}"/>
        </div>
      </div>
    </div>
  </div>
  <div class="container text-center mt-2">
    <div class="row justify-content-center">
      <h6>Listado de Periodos</h6>
      <table class="border">
        <thead>
          <tr>
            <th>Fecha inicio:</th>
            <th>Fecha fin:</th>
            <th>Tipo:</th>
            <th>Actualizar:</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let period of periodsDTO">
            <td>{{period.init}}</td>
            <td>{{period.ends}}</td>
            <td>{{period.type}}</td>
            <td>
              <div class="col-sm-11 pb-2">
                <button type="button" class="btn btn-success" [routerLink]="['/periodoForm']"
                  [state]="{flag:false, id:period.id}">Actualizar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  